server {
	listen 80;
	server_name  {{ site_hostname }};
	set_real_ip_from   10.0.1.3;
	set_real_ip_from   10.0.2.3;
	real_ip_header     X-Real-IP;
	access_log  /var/log/nginx/{{ site_hostname }}_access.log;
	error_log   /var/log/nginx/{{ site_hostname }}_error.log;
	location / {
		root   /var/www/{{ site_hostname }};
		index  index.html index.htm;
		autoindex off;
	}
	error_page   404  /404.html
	error_page   500 502 503 504  /50x.html;
	location = /50x.html {
		root   html;
	}
}
