[Unit]
Description=Distributed API Service.

[Service]
User=press
group=users
Type=simple
WorkingDirectory=/home/press/api.distributed.press/api
ExecStart=/usr/bin/node index.js
Restart=always

[Install]
WantedBy=multi-user.target
